annotated-types
asgiref
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-environ
django-stripe-payments
django-widget-tweaks
djangorestframework
djangorestframework_simplejwt
django-tinymce
gunicorn
idna
inflection
packaging
pillow
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-decouple
python-dotenv
pytz
PyYAML
requests
six
sqlparse
stripe
typing-inspection
typing_extensions
uritemplate
urllib3
whitenoise
